$spaced-mobile: 3rem !default;
$spaced-desktop: 6rem !default;

@mixin spaced($both-directions: true, $use-margin: false) {
    @if ($both-directions) {
        @if ($use-margin) {
            margin: $spaced-mobile 0;
        } @else {
            padding: $spaced-mobile 0;
        }
    } @else {
        @if ($use-margin) {
            margin: 0 0 $spaced-mobile;
        } @else {
            padding: 0 0 $spaced-mobile;
        }
    }

    @include mq(desktop) {
        @if ($both-directions) {
            @if ($use-margin) {
                margin: $spaced-desktop 0;
            } @else {
                padding: $spaced-desktop 0;
            }
        } @else {
            @if ($use-margin) {
                margin: 0 0 $spaced-desktop;
            } @else {
                padding: 0 0 $spaced-desktop;
            }
        }
    }
}
