.b-team {
    padding-bottom:96px;
    @include mq($until: desktop) {
        padding-bottom:40px;
    }
    &__header {
        width: 100%;
        max-width: 870px;
        margin:0 auto;
        h2 {
            text-align:center;
            font-size:44px;
        }
    }
    &__members {
        padding-top:24px;
        display:flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
        width:calc(100% + 16px);
        @include mq($until: desktop) {
            padding-top:0;
        }
        .c-member {
            width:calc(33.33% - 16px);
            .c-lazy-wrapper {
                padding-bottom:114%;
            }
            &:nth-child(1),
            &:nth-child(2) {
                width:calc(50% - 16px);
                @include mq($until: mobile) {
                    width:calc(100% - 16px);
                }
                .c-lazy-wrapper {
                    padding-bottom:75%;
                    @include mq($until: desktop) {
                        padding-bottom:100%;
                    }
                }
            }
            @include mq($until: desktop) {
                width:calc(50% - 16px);
                .c-lazy-wrapper {
                    padding-bottom:100%;
                }
            }
            @include mq($until: mobile) {
                width:calc(100% - 16px);
            }
            .c-member-popup__markup {
                display:none;
            }
        }
    }
}