.c-search-header {
    background-color: $color-primary;
    color:$color-secondary;

    .o-wrapper {
        &--medium {
        max-width:1000px;
        }
    }

    &__wrapper {
        padding:100px 24px 80px 24px;
        text-align:center;
        @include mq($until: tablet) {
            padding:80px 24px 24px 24px;
        }
    }

    
}