.c-menu-toggle {
    width:25px;
    height:20px;
    z-index:250;
    position: relative;
    cursor:pointer;
    background:transparent;
    &:hover {
        span {
            background-color:$color-primary;
        }
    }

    .c-header--dark & {
        span {
            background-color:$color-secondary;
        }
        &:hover {
            span {
                background-color:$color-white;
            }
        }
    }

    .c-header--solid.c-header--dark & {
        span {
            background-color:$color-white;
        }
        &:hover {
            span {
                background-color:$color-primary;
            }
        }
    }

    span {
        transition:all .3s ease;
        display:block;
        width:100%;
        height:3px;
        background-color: $color-grey-darker;
        position: absolute;
        left:50%;
        transform:translateX(-50%);
        border-radius:100px;
        &:nth-child(1) {
            top:0;
        }
        &:nth-child(2) {
            opacity:1;
            top:50%;
            width:50%;
            right:0;
            left:auto;
            transform:translateY(-50%);
        }
        &:nth-child(3) {
            bottom:0;
        } 
    }

    &.active {
        span {
            &:nth-child(1) {
                margin-top:0px;
                top:50%;
                transform:translateY(-50%) translateX(-50%) rotate(-45deg);
            }
            &:nth-child(2) {
                opacity:0;
            }
            &:nth-child(3) {
                bottom:50%;
                margin-bottom:-3px;
                transform:translateY(-50%) translateX(-50%) rotate(45deg);
            }
        }
    }
}