.c-pwd-toggle {
    position: relative;
    input {
        padding-right:64px;
    }
    &__button {
        position: absolute;
        top:0;
        right:0;
        height:100%;
        width:56px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.32013 4.2436C9.65881 4.19353 10.0082 4.16667 10.368 4.16667C14.6222 4.16667 17.4138 7.9207 18.3516 9.40569C18.4651 9.58542 18.5219 9.67528 18.5536 9.81389C18.5775 9.91799 18.5775 10.0822 18.5536 10.1863C18.5218 10.3249 18.4646 10.4154 18.3503 10.5963C18.1005 10.9918 17.7195 11.5476 17.2148 12.1504M5.97128 5.59586C4.16955 6.81808 2.94638 8.51615 2.38526 9.4044C2.27125 9.58489 2.21424 9.67514 2.18246 9.81373C2.15859 9.91783 2.15858 10.082 2.18244 10.1861C2.2142 10.3247 2.27095 10.4146 2.38445 10.5943C3.32229 12.0793 6.11385 15.8333 10.368 15.8333C12.0834 15.8333 13.5609 15.223 14.775 14.3972M2.86802 2.5L17.868 17.5M8.60026 8.23223C8.14784 8.68464 7.86802 9.30964 7.86802 10C7.86802 11.3807 8.98731 12.5 10.368 12.5C11.0584 12.5 11.6834 12.2202 12.1358 11.7678' stroke='%235E706E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-size: 20px;
    }
}